
body{
    padding: 0px;
    margin: 0px;
    background-color: black;
}
.container{
    width: 1150px;
    position: relative;
    left: 55px;
}
header{
    display: flex;
    justify-content: space-around;
    height: 55px; 
    background-color: rgb(27 27 28);
}
header .logo img{
    padding: 15px 0px;
}
.con-ul ul li{
    display: inline-block;
    margin: 0 20px;
    text-decoration: none;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.con-ul ul li a{
    text-decoration: none;
    color: aliceblue;
}
.con-ul ul .active a{
    color: rgb(114, 238, 201);
}
section{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    height: 550px;
}
section .image{
    width: 500px;
   padding: 20px;
}
section .image img{
    width: 500px;
}
section .text{
    width: 500px;
    color: rgb(255, 240, 240);
    position: relative;
    text-align: center;
    top: 20px;
}
section .text h2{
    font-weight: bold;
    line-height: 1;
    font-size: 35px;
}
section .text p{
    font-size: 25px;
    color: rgb(114, 238, 201)
}
.about-cont{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 500px;
}
.about-cont .about{
    width: 350px;
    height: 300px;
    position: relative;
    top: 100px;
    border-radius:  20px ;
    background-color: rgb(27 27 28);
    text-align: center;
    padding: 10px;
}
.about-cont h1{
    font-size: 30px;
    font-weight: bold;
    color: rgb(114, 238, 201) ;
}
.about-cont p{
    color: aliceblue;
    font-size: 20px;
}

.about-cont{
    /* color: ; */
    /* font-size: 20px; */
}

